.timerComponent{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 60px;
}
.timerValueString{
    font-size: 40px;
}
.timerDescription{
    font-size: 12px;
}
.timerTime{
    margin-top: 10px;
}