.setTrackerBox{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 5vw;
    width: 5vw;
    align-items: center;
    border:2px solid #C4C4C4;
    color: white;
    margin:auto;
}
.setTrackerBoxPast{
    background-color: #2BB673;
    font-size: 40px;
}
.setTrackerBoxNow{
    background-color: #FFEB99;
    font-size: 40px;
}
.setTrackerBoxNext{
    background-color: #424874;
    font-size: 60px;
}
.setTrackerBoxDefault{
    background-color: #C43A37;
    font-size: 60px;
}